@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cube-grid {
        @apply bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
    }
    .icon-size {
        @apply text-[6rem] sm:text-[7rem] md:text-[8rem] lg:text-[11rem] xl:text-[12rem] se:text-[4.5rem];
    }
    .two-extra-large-text {
        @apply text-3xl font-bold sm:text-4xl md:text-5xl lg:text-6xl xl:text-8xl;
    }

    .extra-large-text {
        @apply text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
    }

    .large-text {
        @apply text-base sm:text-xl md:text-2xl lg:text-3xl;
    }

    .medium-text {
        @apply text-lg sm:text-xl lg:text-2xl;
    }

    em {
        @apply italic text-lime-200;
    }

    .link {
        @apply cursor-pointer text-blue-200 underline;
    }
}

@font-face {
    font-family: "zenDots";
    src: url("./assets/fonts/ZenDots-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.window-mask {
    mask-image: linear-gradient(black, black), url("./assets/window-mobile.svg");
    mask-composite: exclude;
    mask-repeat: no-repeat;
    /* Use calc() for dynamic mask-size based on viewport height */
    mask-size: auto, calc(25vh + 2rem); /* Base size + responsive adjustment */
    mask-position:
        center center,
        bottom 40% center;
}

@media (min-width: theme("screens.lg")) {
    .window-mask {
        mask-image: linear-gradient(black, black), url("./assets/window.svg");
        mask-size: auto, calc(25vh + 3rem); /* Adjust base size and offset for larger screens */
        mask-position:
            center center,
            top 8rem right 5rem;
    }
}

@media (min-width: theme("screens.xl")) {
    .window-mask {
        mask-image: linear-gradient(black, black), url("./assets/window.svg");
        mask-size: auto, calc(30vh + 3rem); /* Adjust base size and offset for larger screens */
        mask-position:
            center center,
            top 10rem right 9rem;
    }
}
